:root {
    /* ========== AVATAR ========== */
    --avatar-size: 14rem;
    --avatar-frame-size: 16rem;
    --avatar-primary-image: url("https://cdn.myanimelist.net/s/common/userimages/c11c85c0-a609-446d-abf7-17dfe4ca1322_225w?s=8dd4632b0f62e9022379573a7799486d");
    --avatar-secondary-image: url(https://i.ibb.co/XkZnFDg/ava-scan-lines.png);
    --avatar-frame-image: url(https://i.ibb.co/DwqTrHj/ava-frame.png);
    --avatar-overlay-image: url(https://i.ibb.co/qrGhCpg/a-bba669bfb28f492b64852e00fde4989d.png);
    --avatar-overlay-image: url(https://i.ibb.co/869VvVb/a-1005898c6acf56a9ac5010baf444f6fd.png);
    --avatar-overlay-image: url(https://i.ibb.co/Ldb8PxS/a-bba669bfb28f492b64852e00fde4989d-1.png);
    --avatar-overlay-image: url(https://i.ibb.co/xjhhFXx/a-1005898c6acf56a9ac5010baf444f6fd-1.png);
    --avatar-overlay-image: url(https://i.ibb.co/xjhhFXx/a-1005898c6acf56a9ac5010baf444f6fd-1.png);
    --avatar-border: 0;
    --avatar-border: 0.7rem solid var(--content-background);
    --avatar-border-radius: 0;
    --avatar-border-radius: 50%;

}

#status-menu:not(.fixed) .status-menu:not(.fixed) {
    padding-left: 16rem;
}

#status-menu:not(.fixed) .status-menu:not(.fixed)::before {
    content: "";
    width: 14rem;
    height: 14rem;
    margin: -4.5rem 0 0 -15rem;
    background:
        var(--avatar-frame-image) no-repeat center / 16.2rem,
        var(--avatar-secondary-image) no-repeat center / 13rem,
        var(--avatar-primary-image) no-repeat center / 13rem;
    border: var(--avatar-border);
    border-radius: var(--avatar-border-radius);
}

#status-menu:not(.fixed) .status-menu:not(.fixed)::after {
    content: "";
    width: 15rem;
    height: 15rem;
    position: absolute;
    margin: -4.5rem 0 0 -15.5rem;
    /* background: red; */
    background: var(--avatar-overlay-image) no-repeat center / contain;
}